.mod-main-content{
    padding: 40px 80px;
    .post{
        background-size: 100% auto;
        background-attachment: fixed;
        background-color: #222;
        background-position: center center;
        border: 1px solid #272727;
        border-top: none;
        border-bottom: none;
        font-size: 14px;
        .container{
            padding: 40px 25px;
            background-color: rgba(0,0,0, .8);

            .comment-wp{
                border-top: 1px solid #666;
                margin-top: 40px;
                padding-top: 20px;
                background: #222;
                padding: 20px;
            }
        }
        .post-title{
            font-size: 32px;
        }
        .post-meta{
            padding: 10px 0;
            color: #999;
        }
        .post-content{
            padding-top: 20px;
            border-top: 1px solid #333;
            margin-top: 10px;
        }

        pre code{
            background: #1D1E19;
            padding: 5px 10px;
            border: 1px solid #333;
            color: #F6F7EE;
            margin: 5px 0;
            display: block;
        }
        p code{
            background: #666;
            padding: 0 3px;
            margin: 0 3px;
        }
        ul{
            list-style: disc;
            padding-left: 15px;
        }
        img{
            max-width: 100%;
        }
    }
}