---
layout: default
---

<section id="mainBody" class="mod-main-content">
    <section id="jMainContainer" class="mod-main-container">
        <div class="mod-dna-container">
            <div class="mod-dna-wrapper uninit">
                <ul id="dnaMainList" class="main-list">
                    {% for post in site.categories[page.cat] %}
                    <li class="it">
                        <a target="_blank" href="{{ post.url | prepend: site.baseurl }}" class="bg-space j-link" data-start-loading="J.dna.startArtLoading" data-stop-loading="J.dna.stopArtLoading" style="background-image:url({{ post.preview }})" title="{{ post.title }}">
                            <div class="blog-desc">
                                <em class="yh">{{ post.title | date: "%b %-d, %Y" }}</em>
                                <em class="yh">{{ post.date | date: "%b %-d, %Y" }}</em>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <ul id="dnaFollowList" class="follow-list">
                    {% for post in site.categories[page.cat] %}
                        <li class="it"></li>
                    {% endfor %}
                </ul>
                <ul id="dnaBarList" class="dna-bar-list">
                    {% for post in site.categories[page.cat] %}
                    <li class="it">
                        <div class="ca"></div>
                        <div class="cb"></div>
                        <div class="cc"></div>
                        <div class="cd"></div>
                        <div class="ce"></div>
                        <div class="cf"></div>
                    </li>
                  {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>

{% include sidebar.html %}

<script src="/js/dna.js"></script>
<script type="text/javascript">
    (function(){
        J.dna.data = [
            {% for post in site.posts %}
                {
                    url: '{{ post.url}}',
                    title: '{{ post.title }}',
                    prePic: '{{ post.prePic }}',
                    date: '{{ post.date }}'
                },
            {% endfor %}
        ];
        var $mainContainer = $('#jMainContainer');
        
        J.dna.init().done(function(){
            J.dna.scrollInit();
            setTimeout(function(){
                $('#sideMenu .mod-side-wrapper .un-init').removeClass('un-init');
            }, 0);
        });
    })();
</script>
